.align {
    text-align: center;
}
.btn {
    border: solid #555 2px;
    border-radius: 30px;
    padding: 10px 50px 10px 50px;
}
.main {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20% 0;
    text-align: center;
    border: solid #777 2px;
}



.footer {
     background-color: #555;
    margin-top: 0;
}
